
@{
    ViewBag.Title = "Urunler";
}
@model List<UrunModel>
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>Kategoriler</span>
            <h2>Kategoriler</h2>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    @foreach (var kategori in ViewBag.Kategoriler)
                    {
                        <li data-filter=".filter-app"><a href="#">@kategori.KategoriAdi</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section><!-- End Portfolio Section -->
<section id="team" class="team">
    <div class="container">

        <div class="row">

        @foreach (var urunModel in Model)
        {
            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <div class="pic" style="width: 100px; height: 100px">
                        
                            @foreach (var image in urunModel.resim)
                            {
                                
                                    <a>
                                        <img  src="@image.Base64" class="img-fluid" alt="Red dot" >
                                    </a>

                               
                            }
                        
                        @*<marquee behavior="scroll" direction="right" scrollamount="30">
            <img src="@Url.Content(urunModel.resim)" width="72" height="79" alt="Flying Bee">
        </marquee>
        <img src="@urunModel.resim[0].Base64" class="img-fluid" alt="Red dot">*@
                    </div>
                    <div class="member-info">
                        <h4>@urunModel.urun.UrunAdi</h4>
                        <p>@urunModel.urun.UrunAciklamasi</p>
                        <span>@urunModel.urun.UrunFiyat</span>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>

    </div>
</section><!-- End Team Section -->
